---
import Layout, { container } from "../layouts/Layout.astro";
---

<Layout title="404" desc="404">
 <div class={container}><h3 class="text-[22px] mt-[40px]">404 - страница не найдена!</h3></div>
</Layout>
