---
import Layout, { container } from "../layouts/Layout.astro";
---

<Layout title="" desc="">
<div class="mt-[40px]">
  <div class={container}>
     <h2 class="mb-[16px] leading-tight text-black-700 font-bold text-[28px] antialiased">
      Контакты АА Казани
     </h2> 
     <p>
      Тел. для справок: <a href="tel: 88432535013" class="underline text-blue-700 inline-block">8 (843) 253-50-13</a> (09:00-21:00) E-mail:
      <a href="mailto: AAKIO.Kazan@yandex.ru?subject" class="underline text-blue-700 inline-block">AAKIO.Kazan@yandex.ru</a>
     </p>
     <p>
      С замечаниями и пожеланиями по содержимому сайта обращайтесь <a
       href="mailto: mrzuc2015@yandex.ru?subject" class="underline text-blue-700 inline-block">mrzuc2015@yandex.ru</a
      >
       телеграм <a href="https://t.me/proxima8AA" class="underline text-blue-700 inline-block">@proxima8AA</a>
     </p>
  </div>
</div>
</Layout>
