---
import Layout, { container } from "../layouts/Layout.astro";
---

<Layout title="" desc="">
 <div class={container}>
  <section class="mt-[40px]">
   <h2 class="mb-[16px] leading-tight text-black-700 font-bold text-[28px] antialiased">
    Личные истории членов АА
   </h2>
   <div class="flex flex-col">
    <h6>Личная история</h6>
    <h6>Личная история</h6>
    <h6>Личная история</h6>
    <h6>Личная история</h6>
   </div>
  </section>
 </div>
</Layout>
