---
import Layout, { container, grid_cols_2 } from "../layouts/Layout.astro";
---

<Layout title="" desc="">
 <div class={container}>
  <section class="mt-[40px]">
   <h2 class="mb-[16px] leading-tight text-black-700 font-bold text-[28px] antialiased">
    Рецензии благодарности
   </h2>
   <div class={grid_cols_2}>
    <h6>фотки материала</h6>
    <h6>фотки материала</h6>
    <h6>фотки материала</h6>
    <h6>фотки материала</h6>
   </div>
  </section>
 </div>
</Layout>
