---
import Layout, { container } from "../layouts/Layout.astro";
---

<Layout title="" desc="">
 <div class={container}>
  <div class="mt-[40px] p-[20px]">
   <img
    src="https://traveltimes.ru/wp-content/uploads/2021/05/l3524.jpg"
    class="mb-[8px] max-full h-[420px] cover rounded-[20px]"
    alt=""
   />
   <h1 class="mb-[8px] leading-tight text-black-700 font-bold text-[24px] antialiased">
    Тест
   </h1>
   <time datetime="12.12.12" class="mb-[8px] inline-block">12.12.12</time>
   <p class="mb-[14px] text-black-300 text-[16px] antialiased leading-tight">
    тестовый текст: Далеко-далеко за словесными горами в стране гласных и согласных живут,
    рыбные тексты.
   </p>
  </div>
 </div>
</Layout>
